@media screen and (max-width:755px){
    

    *{
        margin : 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Helvetica','Raleway', sans-serif;
        scroll-behavior: smooth;
        
    }
    body{
        padding: 0 0px;
        /*position:relative;*/
    }

    a, a:hover, a:active {
        text-decoration: none;
        color:white;
    }
    /* Masquage des elements  slider nav etc .... */
    header nav, div.contactHeader, section div#carouselExampleControls, li#langue, nav ul li:first-child, #fixedCall{
        display: none;
    }
    /*nav{
        position: fixed;
        width:100%;
        background-color: #2e2e2e;
        height: 55px;
        margin:0;
        padding:0;
    }
    nav ul{
        padding:0;
        margin:0;
        vertical-align: middle;
    }
    nav ul li{
        padding:0;
        margin:0;
        display:inline-block;
    }*/
    img#logo-phone{
        height: 50px;
    }
    section#presentation{
        padding: 25px;
        padding-top: 55px;
    }
    section#presentation h1{
        
        margin-bottom: 20px;
    } 
    section#competences{
        padding-top:20px;
    }
    section#competences h2{
        text-align: center;
    }
    section#competences figure{
        width:100%;
        padding: 10px 20px;
        margin: 0px;
    }
    section#competences figure img{
        width:100%;
    }
    section#competences figure figcaption{
        margin-top: -40px;
        height: 40px;
        padding:5px 0 0;
        text-align: center;
        background: whitesmoke;
        opacity: 0.8;
    }
    

    /* FOOTER */

    footer{
        margin:0;
        padding: 30px 20px 160px;
        height: auto;
        width:100%;
        display:block;
        background: #2e2e2e;

    }
    footer section{
        display: block;
        clear:both;
        float:none;
        width:100%;
        height: auto;
        padding: 0 20px;
    }

    footer iframe{
        width: 100%;
        height: 395px;
        margin-left: 0px;
        margin-top: 0px;
        background: whitesmoke;
    }
    
    footer div#plan p{
        color: white;
        margin-left: 0px;
        font-size: 0.6em;
        position: top;
    }
    
    
    #contact{
        width: 100%;
        
    }
    
    #contact p{
        text-align: center;
        color: white;
        font-size: 0.8em;
        padding-top: 15px;
    }
    
    #reseaux{
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    
    #reseaux img{
        margin-top: 0px;
        
    }
    
    #reseaux p{
        margin-top: 15px;
        color : white;
        font-size: 0.8em;
    }
    #contact p:first-child{
        margin-top: 30px;
        font-size: 1em;
    }
    #contact p:last-child{
        
        font-size: 0.6em;
    }
    
    #facebook{
        margin-right: 0px;
    }   
}