@media screen and (min-width : 755px) and (max-width:1023px) {
    *{
        margin : 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Helvetica','Raleway', sans-serif;
        scroll-behavior: smooth;
        transition: all 1s;
    }
    
    a, a:hover, a:active {
        text-decoration: none;
        color:white;
    }
    /* Masquage des elements */
    header div.contactHeader, li#langue, nav ul li:first-child, #fixedCall{
        display: none;
    }
    /* Navbar */
    nav{
        position: fixed;
        width:100%;
        background-color: #2e2e2e;
        height: 55px;
        margin:0;
        padding:0;
        z-index: 1;
    }
    nav ul{
        padding:0;
        margin:0;
        vertical-align: middle;
    }
    nav ul li{
        padding:0;
        margin:0;
        display:inline-block;
    }
    img#logo-phone{
        height: 50px;
    }
    
    /* Presentation */
    section#presentation{
        padding: 5px;
        padding-top: 55px;
    }
    
    /* Competence */
    section#competences{
        padding-top:65px;
        text-align: center;
    }
    #competences figure {
        display: inline-block;
        margin: 0 10px;

    }
    #competences figure img {
        width: 355px;
        height: 200px;
    }

    /* Footer */
    
    footer{
        margin:0;
        padding: 100 30;
        height: auto;
        width:100%;
        background-color: black;
    }

    footer iframe{
        width: 720px;
        height: 395px;
        background: whitesmoke;
        text-align: center;

    }
    footer div#plan{
        color: white;
        font-size: 0.6em;
        text-align: center;
    }
    
    footer div#plan p{
        color: white;
        margin-left: 0px;
        font-size: 0.6em;
    }
    

    #contact{
        float: left;
        margin: 5 30;

    }
    
    #contact p{
        text-align: center;
        color: white;
        font-size: 1.1em;
    }
    
    #reseaux{
        margin-left: 60%;
        padding-top: 40;
        text-align: center;
    }
    
    #reseaux img{
        margin-top: 0px;
        
    }
    
    #reseaux p{
        margin-top: 0px;
        color : white;
        font-size: 1.5em;
    }
    
    #facebook{
        margin-right: 0px;
    }

}